.keyboard-container {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); /* Ombre pour donner un effet de profondeur */
    background-color: #fff; /* Arrière-plan clair pour le contraste */
    border-top: 1px solid #ccc; /* Ligne de séparation */
    z-index: 1000 !important; /* Positionnement au-dessus des autres éléments */
    width: 80vh; /* Ajusté à 100% pour couvrir toute la largeur */
  }
  
  .handle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; /* Hauteur suffisante pour une prise facile */
    background-color: #e4e4e4; /* Légère distinction de couleur pour la zone draggable */
    cursor: grab; /* Curseur de saisie */
  }
  
  .keyboard-close-btn {
    position: absolute;
    top: -50px; /* Ajustement pour éviter la superposition sur le clavier */
    right: 15px;
    padding: 8px 15px;
    background-color: #d9534f;
    color: #ffffff;
    font-size: 16px; /* Taille de police pour améliorer la lisibilité */
    border: none;
    border-radius: 20px; /* Arrondi plus prononcé */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre plus profonde pour un effet 3D plus marqué */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transition plus douce */
  }
  
  .keyboard-close-btn:hover {
    background-color: #c9302c;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Effet au survol plus prononcé */
  }
  
  .keyboard-close-btn:focus {
    outline: none; /* Supprime le contour par défaut pour les éléments focus */
  }
  